.login-form {
  margin: 16rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  border-color: #fff;
  padding: 2rem;
  text-align: center;
}

.control {
  margin: 1rem 0;
}

.toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.toggle:hover {
  background-color: transparent;
  color: #a93af3;
}